<form [formGroup]="loanForm" class="form-container" #loanFormRef="ngForm">
  <div class="radio-group-container">
    <mat-label class="loan-label">This Loan is for</mat-label>
    <mat-radio-group
      formControlName="borrower"
      aria-label="Select borrower"
      name="borrower"
    >
      <mat-radio-button [checked]="true" value="personal"
        >Just me</mat-radio-button
      >
      <mat-radio-button value="co-borrower"
        >Me and co-borrower</mat-radio-button
      >
    </mat-radio-group>
  </div>

  <div class="form-field-container">
    <mat-label>Net Income (Monthly income after taxes)</mat-label>
    <mat-form-field appearance="outline">
      <input matInput type="text" formControlName="netIncome" min="0" />
      <span matTextSuffix> Eur </span>
    </mat-form-field>

    <div class="message-block"
      *ngIf="netIncome?.dirty && (netIncome?.errors || netIncome?.touched || loanForm?.errors)">
      <div *ngIf="netIncome?.errors?.['required']" class="error-message">
        This field is required
      </div>
      <div *ngIf="netIncome?.errors?.['pattern']" class="error-message">
        Please enter a valid number
      </div>

      <div *ngIf="loanForm.get('applicant')?.value==='personal' && loanForm.errors?.['applicantNetIncomeCheck']"
        class="error-message">
        Minimum monthly income should be 600 EUR
      </div>
      <div *ngIf="loanForm.get('applicant')?.value==='co-borrower' && loanForm.errors?.['applicantWithCoBorrowerError']"
        class="error-message">
        Minimum monthly income should be 1000 EUR
      </div>
    </div>
    <mat-label>Number of dependent family members</mat-label>
    <mat-form-field appearance="outline">
      <input matInput type="number" formControlName="dependent" min="0" />
    </mat-form-field>
    <div class="message-block"
      *ngIf="dependent?.dirty && (dependent?.errors || dependent?.touched || loanForm?.errors)">
      <div *ngIf="dependent?.errors?.['required']" class="error-message">
        This field is required
      </div>
    </div>
    <div *ngIf="loanForm.errors?.['applicantWithMoreThanTwoDependentsError']" class="error-message">
      Minimum monthly income should be 1000 EUR
    </div>
    <div *ngIf="loanForm.errors?.['applicantWithOneDependentError']" class="error-message">
      Mininmum monthly income should be 650 EUR
    </div>
 
  <mat-label>Current monthly obligations</mat-label>
  <mat-form-field appearance="outline">
    <span matTextSuffix class="suffix"> Eur </span>
    <input matInput type="text" formControlName="obligations" />
  </mat-form-field>
  <div *ngIf="obligations?.dirty && (obligations?.errors || obligations?.touched)">
    <div *ngIf="obligations && obligations.errors">
      <div *ngIf="obligations.errors['required']" class="error-message">
        This field is required
      </div>
      <div *ngIf="obligations.errors['pattern']" class="error-message">
        Please enter a valid number
      </div>
    </div>
  </div>
</div>
  <app-show-max-mortgage-amount
    [loanForm]="loanForm"
    [maxMortgageAmount]="maxMortgageAmount"
  ></app-show-max-mortgage-amount>
</form>