<form [formGroup]="personalInformationForm">
  <div class="form form__content">
    <mat-form-field appearance="fill">
      <mat-label>Name and Surname</mat-label>
      <input matInput formControlName="fullName" type="text" placeholder="John Doe">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Personal number</mat-label>
      <input matInput formControlName="personalNumber"  type="number" placeholder="12345678901">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Phone number</mat-label>
      <input matInput formControlName="phoneNumber" type="tel"  placeholder="+37061234567">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" placeholder="mail@coolmail.com">
    </mat-form-field>
    <br>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext matStepperNext>Next</button>
    </div>
  </div>
</form>
