
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 16px;
}

.back-button {
    margin-right: 8px;

}

.actions-container {
    display: flex;
    align-items: center;
}

.info-group {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #eee;
}

h2 {
    color: black;
}

h3 {
    font-size: 0.9em;
    text-align: center;
}
.blue {
    color: blue;
}
.green{
    color: green;
}

.red{
    color:red;
}
@media screen and (max-width: 767px) {
    .header-container {
        justify-content: center;
    }

    .actions-container {
        margin-top: 10px;
    }
}

.spacer {
    flex: 1 1 auto;
}
