.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 16px;
}

button {
    color: primary;
}

.back-button {
    margin-right: 8px;
}

.actions-container {
    display: flex;
    align-items: center;
}

.info-group {
    text-align: center;
    margin-bottom: 24px;
    padding: 16px;
    border-bottom: 1px solid #eee;
}

h2 {
    color: black;
    margin-bottom: 8px;
}

h3 {
    font-size: 1em;
    text-align: center;
}

.mat-dialog-content {
    max-width: 1000px;
    width: 90%;
}

.mat-dialog-container {
    max-width: 1000px;
    width: 90%;
}

@media screen and (max-width: 767px) {
    .header-container {
        justify-content: center;
    }

    .actions-container {
        margin-top: 10px;
    }

    .mat-dialog-content,
    .mat-dialog-container {
        width: 100%;
    }
}

.spacer {
    flex: 1 1 auto;
}
