header {
  display: flex;
  background-color: #6d9bcf;
  border-bottom: solid 2px #6767d4;
}

.logotype {
  padding-top: 0.3rem;
  padding-left: 4rem;
}

nav {
  height: 4.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

button {
  margin-top: 1.2rem;
  color: white;
  border-radius: 2rem;
  padding: 0.9rem;
  font-size: 0.7rem;
  font-weight: bold;
  margin-right: 4rem;
}

@media screen and (max-width: 500px) {
  .logotype {
    padding-left: 1.5rem;
  }

  button {
    margin-right: 1.5rem;
  }

}

@media screen and (max-width: 330px) {
  .logotype {
    padding-left: 0.2rem;
  }

  button {
    margin-right: 0.2rem;
  }

}
