<form [formGroup]="incomeAndFinancialLiabilitiesForm">
  <div class="form form--centered">
    <div class="form__content">
      <mat-form-field appearance="fill" class="formInput">
        <mat-label>Education</mat-label>
        <mat-select formControlName="education">
          <mat-option *ngFor="let education of educationValues" [value]="education.value">
            {{education.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Time Employed</mat-label>
        <mat-select formControlName="timeEmployed">
          <mat-option *ngFor="let values of timeEmployedValues" [value]="values.value">
            {{values.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Contract type</mat-label>
        <mat-select formControlName="contractType">
          <mat-option *ngFor="let values of contractTypeValues" [value]="values.value">
            {{values.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form__content">
      <mat-form-field appearance="fill">
        <mat-label>Current employer</mat-label>
        <input matInput formControlName="employer" type="text" placeholder="UAB Firma">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Position held</mat-label>
        <input matInput formControlName="position" type="text" placeholder="Senior manager of things">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Eur</mat-label>
        <span matTooltip="Enter the amount of your monthly financial obligations">
          <input matInput formControlName="monthlyObligations" type="number" placeholder="1000">
        </span>
      </mat-form-field>
    </div>
  </div>
  <div class="form form--centered">
    <div class="form__content">
      <mat-form-field appearance="fill" class="formInput">
        <mat-label>Net income</mat-label>
        <input matInput formControlName="netIncome" type="number" placeholder="1000">
      </mat-form-field>
    </div>
  </div>
  <div class="form form__content">
    <mat-label>Number of children</mat-label>
    <mat-radio-group aria-label="Select an option" formControlName="childrenAmount">
      <div>
        <mat-radio-button [value]="childCountEnum.One">1 child</mat-radio-button>
        <mat-radio-button [value]="childCountEnum.Two">2 children</mat-radio-button>
        <mat-radio-button [value]="childCountEnum.More">More</mat-radio-button>
      </div>
    </mat-radio-group>
    <br>
    <mat-label>Current other financial obligations</mat-label>
    <mat-radio-group aria-label="Select an option" formControlName="financialObligations">
      <mat-radio-button [value]="true">Yes</mat-radio-button>
      <mat-radio-button [value]="false">No</mat-radio-button>
    </mat-radio-group>
  </div>
  <div>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button>
  </div>
</form>
