<mat-form-field [style.width.rem]=70 [formGroup]="searchForm">
  <input matInput type="text" #searchBox (input)="search(searchBox.value)" placeholder="Search by Name/ Surname/ Id" formControlName="searchInput" [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onLinkClick($event)">
    <mat-option *ngFor="let application of applications$ | async" [value]="application">
      {{ application.id }} {{ application.firstName }} {{ application.lastName }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
