<div class="container">
<form [formGroup]="monthlyCalculatorForm" action="">
  <mat-form-field appearance="outline">
    <mat-label class="calc-label" for="homePrice">Home Price</mat-label>
    <input matInput id="homePrice" type="number" formControlName="homePrice" placeholder="0">
    <span matTextSuffix> Eur </span>
  </mat-form-field>
  <div
  *ngIf="homePrice.errors && ( homePrice.touched || homePrice.dirty )">
    <div class="error-message" *ngIf="homePrice.errors['required']">
      Please fill this field
    </div>
    <div class="error-message" *ngIf="homePrice.errors['pattern']">
      Please use only numbers
    </div>
    <div class="error-message"
      *ngIf="homePrice.errors['min']
      && homePrice.dirty
      && !homePrice.errors['required']">
      Minimum home price is 5000€
    </div>
  </div>

 
  <mat-form-field appearance="outline">
    <mat-label class="calc-label" for="mortgage-amount">Mortgage amount</mat-label>
    <input matInput id="mortgage-amount" type="number" formControlName="mortgageAmount" placeholder="0">
    <span matTextSuffix> Eur </span>
  </mat-form-field>
  <div *ngIf="mortgageAmount.errors && ( mortgageAmount.touched || mortgageAmount.dirty )">
    <div class="error-message" *ngIf="mortgageAmount.errors['required']">
      Please fill this field
    </div>
    <div class="error-message" *ngIf="mortgageAmount.errors['pattern']">
      Please use only numbers
    </div>
  </div>
  <div class="error-message" *ngIf="monthlyCalculatorForm.errors?.['mortgageAmountValidator'] && mortgageAmount.touched">
    <div>Mortgage amount is more than "Home Price"</div>
  </div>

  
  <mat-form-field appearance="outline">
    <mat-label class="calc-label" for="down-payment">Down payment</mat-label>
    <input matInput id="down-payment" type="number" formControlName="downPayment" placeholder="0">
    <span matTextSuffix> Eur </span>
  </mat-form-field>
  <div class="error-message" *ngIf="downPayment.errors && ( downPayment.touched || downPayment.dirty )">
    <div *ngIf="downPayment.errors['required']">
      Please fill this field
    </div>
    <div class="error-message" *ngIf="downPayment.errors['pattern']">
      Please use only numbers
    </div>
  </div>
  <mat-form-field appearance="outline">
    <mat-label class="calc-label" for="down-payment-two">Down payment %</mat-label>
    <input matInput id="down-payment-two" type="text" formControlName="downPaymentPercent" placeholder="0">
    <span matTextSuffix> % </span>
  </mat-form-field>
  <div class="error-message" *ngIf="downPaymentPercent.errors && ( downPaymentPercent.touched || downPaymentPercent.dirty )">
    <div *ngIf="downPaymentPercent.errors['required']">
      Please fill this field
    </div>
    <div class="error-message" *ngIf="downPaymentPercent.errors['pattern']">
      Please use only numbers with two decimal places
    </div>
    <div class="error-message" *ngIf="downPaymentPercent.errors['min']">
      Down payment is at least 15%
    </div>
    <div class="error-message" *ngIf="downPaymentPercent.errors['max']">
      Down payment is at least 15%
    </div>
  </div>
  <div class="error-message" *ngIf="monthlyCalculatorForm.errors?.['downPaymentValidator'] && downPayment.touched">
    <div>Down payment is at least 15%</div>
  </div>

  
  <mat-form-field appearance="outline">
    <mat-label class="calc-label" for="interest-rate">Interest rate</mat-label>
    <input  matInput id="interest-rate" type="text" formControlName="interestRate" placeholder="0">
    <span matTextSuffix> % </span>
  </mat-form-field>
  <div *ngIf="interestRate.errors && ( interestRate.touched || interestRate.dirty )">
    <div class="error-message" *ngIf="interestRate.errors['required']">
      Please fill this field
    </div>
    <div class="error-message" *ngIf="interestRate.errors['pattern']">
      Please use only numbers with two decimal places
    </div>
  </div>

  
  <mat-form-field appearance="outline">
    <mat-label class="calc-label" for="mortgage-term">Mortgage term</mat-label>
    <input matInput id="mortgage-term" type="number" formControlName="mortgageTerm" placeholder="0">
    <span matTextSuffix> Years </span>
  </mat-form-field>
  <div *ngIf="mortgageTerm.errors && ( mortgageTerm.touched || mortgageTerm.dirty )">
    <div class="error-message" *ngIf="mortgageTerm.errors['required']">
      Please fill this field
    </div>
    <div class="error-message"*ngIf="mortgageTerm.errors['pattern']">
      Please use only numbers
    </div>
    <div class="error-message" *ngIf="mortgageTerm.errors['min']
      && !mortgageTerm.errors['required']">
      Minimum term of mortgage is 1 year
    </div>
    <div class="error-message" *ngIf="mortgageTerm.errors['max']">
      Maximum term of mortgage is 30 years
    </div>
  </div>

</form>
</div>
<ng-container *ngIf=" ( calculations$ | async ) as calculations">
<div class="calculator-result">
  <p>Monthly payment: {{ this.addSpacer(calculations.monthlyPayment) }} Eur</p>
  <p>Total payable amount: {{ this.addSpacer(calculations.totalPayableAmount) }} Eur</p>
  <p>Interest cost: {{ this.addSpacer(calculations.interestCost) }} Eur</p>
</div>
</ng-container>
<ng-container *ngIf=" !( calculations$ | async ) as calculations">
<div class="calculator-result" *ngIf="loading">
  <p>Monthly payment: Calculating..</p>
  <p>Total payable amount: Calculating..</p>
  <p>Interest cost: Calculating..</p>
</div>
<div class="calculator-result" *ngIf="!loading">
  <p>Monthly payment: 0 Eur</p>
  <p>Total payable amount: 0 Eur</p>
  <p>Interest cost: 0 Eur</p>
</div>
</ng-container>

<div>
  <canvas #doughnutCanvas style="height:10vh; width:20vw"></canvas>
  <hr color="blue">
</div>
