:host {
  display: flex;
  justify-content: space-evenly;
  overflow-y: hidden;
}

form {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.error-message {
  color: red;
  font-size: 0.75em;
  margin-top: 0.3em;
  align-self: flex-start;
}

.calculator-result {
  margin-top: 4rem;
}

@media screen and (max-width: 580px) {
  :host {
    flex-direction: column;
    align-items: center;
  }

}
