:host {
  display: flex;
  justify-content: space-evenly;
  margin: 2em;
}
.form-mobile {
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.form-desktop {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.calculator-result-mobile {
  margin-top: 2em;
  align-items: center;
  font-weight: 900;
  color: #5b548a;
}
.calculator-result-desktop {
  margin-top: 2em;
  align-items: center;
  font-weight: 900;
  color: #5b548a;
}
.container-mobile {
  display: flexbox;
}
.container-desktop {
  display: inline-flex;
  justify-items: center;
  width: 50%;
}
.form-container-mobile {
  width: 90%;
  padding: 1rem;
  background-color: #F3F9FB;
  box-shadow: 10px 5px 5px #e2e2ff, 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
  height: 80%;
}
.form-container-desktop {
  width: 100%;
  background-color: #F3F9FB;
  box-shadow: 10px 5px 5px #e2e2ff, 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
  height: 90%;
  padding: 1.25em;
  margin-right: 10rem;
}
.result-container-mobile {
  text-align: center;
  width: 100%;
}
.result-container-desktop {
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 1000px)  {
  .canvas-container {
    display: none;
  }
}
