<form (submit)="onFilterSubmit()"class="filter-form" [formGroup]="filterForm">
    <label><h2>Filter</h2></label>
    <div>
    <mat-form-field appearance="outline" >
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="selectedDate">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    </div>
        <mat-form-field appearance="outline">
            <mat-label>Status</mat-label>
          <mat-select [(ngModel)]="selectedStatus" multiple formControlName="selectedStatus">
            <mat-option value="New">New</mat-option>
            <mat-option value="In progress">In Progress</mat-option>
            <mat-option value="PreApproved">Pre-Approved</mat-option>
            <mat-option value="Rejected">Rejected</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" type="submit">Filter</button>
        <br>
  </form>
  <button mat-raised-button (click)="resetForm()" color="primary">Reset</button>
