<form class="filter-form">
    
  
    <!-- <mat-form-field class="filter-field">
      <mat-label>Date Input</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="Date" [(ngModel)]="selectedDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
     
    </mat-form-field> -->

    <mat-form-field appearance="outline">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
  
    <div class="filter-field">
      <mat-label>Status</mat-label>
      <div class="checkboxes-container">
        <mat-checkbox [(ngModel)]="isNew">New</mat-checkbox>
        <mat-checkbox [(ngModel)]="isInProgress">In Progress</mat-checkbox>
        <mat-checkbox [(ngModel)]="isDone">Done</mat-checkbox>
        <mat-checkbox [(ngModel)]="isRejected">Rejected</mat-checkbox>
        <!-- Replace [(ngModel)] with your desired two-way binding properties -->
      </div>
    </div>
  
    <!-- Add your filter button or additional filter fields here -->
  
  </form>
