<div class="main-container">
<form [formGroup]="loanForm" class="form-container" #loanFormRef="ngForm">  
  <div class="radio-group-container">
    <mat-label class="loan-label">Loan is for:</mat-label>
    <mat-radio-group formControlName="borrower" aria-label="Select borrower" name="borrower">
      <mat-radio-button value="personal">Just me</mat-radio-button>
      <mat-radio-button value="co-borrower">Me and co-borrower</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="form-field-container">
    <mat-label>Monthly income after taxes</mat-label>
    <mat-form-field appearance="outline">
      <input matInput type="number" placeholder="0" formControlName="netIncome" (blur)="removeZeros('netIncome')"/>
      <span matTextSuffix> Eur </span>
    <!-- <div class="message-block"
      *ngIf="netIncome?.dirty && (netIncome?.errors || netIncome?.touched || loanForm?.errors)"> -->
      <mat-error *ngIf="netIncome?.errors?.['required']">
        This field is required
      </mat-error>
      <mat-error  *ngIf="netIncome?.errors?.['pattern']">
        Please enter a valid number</mat-error >
       <mat-error  *ngIf="netIncome?.errors?.['applicantNetIncomeCheck']">
        Minimum monthly income should be 600 EUR
      </mat-error>
      <mat-error  *ngIf="netIncome?.errors?.['applicantWithCoBorrowerError']">
        Minimum monthly income should be 1000 EUR
      </mat-error>
    <!-- </div> -->
  </mat-form-field>
 
    <mat-label>Number of dependent family members</mat-label>
<mat-radio-group formControlName="dependent">
  <mat-radio-button value="0">0</mat-radio-button>
  <mat-radio-button value="1">1</mat-radio-button>
  <mat-radio-button value="2">2</mat-radio-button>
  <mat-radio-button value="3">More</mat-radio-button>
  <mat-error *ngIf="loanForm.errors?.['applicantWithMoreThanTwoDependentsError']" class="error-message">
    Minimum monthly income should be 1000 EUR
  </mat-error>
  <mat-error *ngIf="loanForm.errors?.['applicantWithOneDependentError']" class="error-message">
    Minimum monthly income should be 650 EUR
  </mat-error>

</mat-radio-group>
    <mat-label>Current monthly obligations</mat-label>
    <mat-form-field appearance="outline">
      <span matTextSuffix class="suffix"> Eur </span>
      <input matInput type="number" placeholder="0" formControlName="obligations"/>
    </mat-form-field>
  </div>
  <div class="max-mortgage-container">
  <app-show-max-mortgage-amount [maxMortgageAmount]="maxMortgageAmountValue" class="show-max-mortgage-background">
  </app-show-max-mortgage-amount>
</div>
</form>
<div class="image-container">
  <img src= "./assets/images/max-mortgage.svg" alt="Max-mortgage image" />
</div>
</div>
