.applicants-table-label{
    text-align: center;
}

.clickable-cell{
    cursor: pointer;
}

.yellow {
    color: yellow;
}
.blue{
    color: blue;
  }

  .green {
    color: green;
  }

  .red {
    color: red;
  }