<form [formGroup]="additionalInformationForm">
  <div class="form form--centered">
    <div class="form__content">
      <mat-radio-group formControlName="coBorrower">
        <mat-label>Will the loan be taken with a co-borrower?</mat-label>
        <br>
        <mat-radio-button [value]="false">No</mat-radio-button>
        <mat-radio-button [value]="true">Yes</mat-radio-button>
      </mat-radio-group>
      <br>
      <ng-container *ngIf="coBorrowerStateControl!.value">
        <mat-form-field appearance="outline">
          <mat-label>Co-borrower name</mat-label>
          <input matInput formControlName="coBorrowerFirstName" type="text">
          <mat-error *ngIf="coBorrowerNameRequiredError">
            Co-borrower name is required
          </mat-error>
          <mat-error *ngIf="coBorrowerNamepatternError">
            Name can't contain numbers
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>Co-borrower surname</mat-label>
          <input matInput formControlName="coBorrowerLastName" type="text" >
          <mat-error *ngIf="coBorrowerlNameRequiredError">
            Co-borrower surname is required
          </mat-error>
          <mat-error *ngIf="coBorrowerlNamepatternError">
            Surname can't contain numbers
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" >
          <mat-label>Personal number</mat-label>
          <input matInput formControlName="coBorrowerPersonalNumber" type="text">
          <mat-error *ngIf="coBorrowerPersonalNumberError">
            Personal number is required
          </mat-error>
          <mat-error *ngIf="coBorrowerPersonalLenghtError">
            Personal number to short
          </mat-error>
        </mat-form-field>
      </ng-container>
      <br>
      <mat-checkbox formControlName="certification">I certify the information I provided on and in connection with this form is true and correct.</mat-checkbox>
    </div>
  </div>
<div>
  <button mat-button matStepperPrevious>Back</button>
  <button mat-button [disabled]="!certificationControl?.value" (click)="submitForm()">Send form</button>
</div>
</form>
