<div *ngIf="!isSmallScreen">
  <mat-tab-group [selectedIndex]="selectedTabIndex$ | async">
    <mat-tab label="Can I get a mortgage?">
      <app-max-loan-calculator></app-max-loan-calculator>
    </mat-tab>
    <mat-tab label="Monthly payment calculator">
      <app-monthly-payment-calc></app-monthly-payment-calc>
    </mat-tab>
    <mat-tab label="Apply for mortgage">
      <app-mortgage-application (tabChanged)="selectTab($event)"></app-mortgage-application>
    </mat-tab>
  </mat-tab-group>
</div>

<div *ngIf="isSmallScreen">
  <button mat-button [matMenuTriggerFor]="menu"> <i class="fas fa-bars"></i></button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="selectTab(0)">Can I get a mortgage?</button>
    <button mat-menu-item (click)="selectTab(1)">Monthly payment calculator</button>
    <button mat-menu-item (click)="selectTab(2)">Apply for mortgage</button>
  </mat-menu>

  <div *ngIf="(selectedTabIndex$ | async) === 0">
    <app-max-loan-calculator></app-max-loan-calculator>
  </div>
  <div *ngIf="(selectedTabIndex$ | async) === 1">
    <app-monthly-payment-calc></app-monthly-payment-calc>
  </div>
  <div *ngIf="(selectedTabIndex$ | async) === 2">
    <app-mortgage-application (tabChanged)="selectTab($event)"></app-mortgage-application>
  </div>
</div>
<app-chat-bubble></app-chat-bubble>
