section {
  padding-top: 7px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

form {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

mat-form-field {
  height: 2px;
  padding-bottom: 3.5rem;
}

p {
  font-size: 1.1rem;
}

.error-message {
  color: red;
  font-size: 0.75em;
  margin-top: 0.3em;
  align-self: flex-start;
}

.calculator-result {
  margin-top: 4rem;
}



