<section>

<p>Employee Login</p>

<form [formGroup]="authorizationForm" (ngSubmit)='onSubmit()'>

  <div class="error-message" *ngIf="this.errorMessage === true">The username or password is incorrect</div>
  <mat-label class="label">Username</mat-label>
  <mat-form-field appearance="outline">
    <input matInput type="text" placeholder="Username" formControlName="username">
  </mat-form-field>

  <mat-label>Password</mat-label>
  <mat-form-field appearance="outline">
    <input matInput type="password" placeholder="Password" formControlName="password">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="!authorizationForm.valid">Login</button>

</form>

</section>

