<form [formGroup]="loanInformationForm">
  <div class="form form--centered">
    <div class="form__content">
        <mat-form-field appearance="fill">
          <mat-label>Loan ammount</mat-label>
          <input matInput formControlName="loanAmount" type="number" placeholder="1000">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Loan purpose</mat-label>
          <input matInput formControlName="loanPurpose" type="text" placeholder="I want a house">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Term of loan</mat-label>
          <mat-select formControlName="termOfLoan">
            <mat-option *ngFor="let term of loanTermValues" [value]="term.value">
              {{term.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </div>
    <div class="form__content">
      <mat-form-field appearance="fill">
        <mat-label>Type of property</mat-label>
        <input matInput formControlName="propertyType" type="text" placeholder="House with 5 doors">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Price of property</mat-label>
        <input matInput formControlName="propertyPrice" type="number" placeholder="3000">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Evaluation price of property</mat-label>
        <input matInput formControlName="evaluatedPropertyPrice" type="number" placeholder="4000">
      </mat-form-field>
    </div>
  </div>
  <div>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button>
  </div>
</form>
