mat-slider {
  width: 300px;
}


.form__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1%;
}

.form__row {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.formInput {
  margin-right: 16px;
  width: 100%;
  max-width: 300px;
}

.formInput:last-child {
  margin-right: 0;
}

.full-width {
  width: 100%;
}

.mat-form-field-text-suffix {
  font-size: 0.1em;
}

.term-of-loan {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.formInput-slider {
  width: 100%;
  max-width: 300px;
  margin-top: 16px;
  margin-left: 16px;

}
