<form [formGroup]="loanInformationForm">
  <div class="form form--centered">
    <div class="form__content">
        
        
        <mat-form-field appearance="outline" class="formInput">
          <mat-label>Loan amount</mat-label>
          <input matInput formControlName="loanAmount" type="number" placeholder="1000">
          <span matTextSuffix> Eur </span>
        </mat-form-field>
        <div *ngIf="loanAmountRequiredError">
          <mat-error>Loan amount is required</mat-error>
        </div>
        <br>
        <mat-form-field appearance="outline" class="formInput">
          <mat-label>Loan purpose</mat-label>
          <input matInput formControlName="loanPurpose" type="text" placeholder="I want a house">
        </mat-form-field>
        <div *ngIf="loanPurposeRequiredError">
          <mat-error>Loan purpose is required</mat-error>
        </div>

    </div>
    <div class="form__content">
  
      <mat-form-field appearance="outline" class="formInput">
        <mat-label>Type of property</mat-label>
        <input matInput formControlName="propertyType" type="text" placeholder="House with 5 doors">
      </mat-form-field>
      <div *ngIf="propertyTypeRequiredError">
        <mat-error>Type of property is required</mat-error>
      </div>
      <br>
      <mat-form-field appearance="outline" class="formInput">
        <mat-label>Price of property</mat-label>
        <input matInput formControlName="propertyPrice" type="number" placeholder="3000">
        <span matTextSuffix> Eur </span>
      </mat-form-field>
      <div *ngIf="propertyPriceRequiredError">
        <mat-error>Price of property is required</mat-error>
      </div>
    </div>
  </div>
  <div>
    <mat-form-field appearance="outline" class="formInput" style="width: 20%;" >
      <mat-label>Evaluation price of property</mat-label>
      <input matInput formControlName="evaluatedPropertyPrice" type="number" placeholder="4000">
      <span matTextSuffix>Eur</span>
    </mat-form-field>
    <div *ngIf="evaluatedPropertyPriceRequiredError">
      <mat-error>Evaluation price of property is required</mat-error>
    </div>
    <br>
    <div>
      <label>Term of loan: {{sliderValue}}</label>
    </div>
    <br>
    <mat-slider min="1" max="30" step="1" value="1" (input)="onSliderInput($event)">
      <input matSliderThumb formControlName="termOfLoan">
    </mat-slider>
    <div *ngIf="termOfLoanRequiredError">
      <mat-error>Term of loan is required</mat-error>
    </div>
  </div>
  <div>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button>
  </div>
</form>
